@charset "UTF-8";

/* Thiss CSS File for Classes CSS*/

/* Title CSS */
.title {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    grid-area: tt;
}

/* CSS for Content */

.content {
    display: grid;
    width: auto;
    grid-template-columns: repeat(2,minmax(100px,auto));
    grid-template-rows: repeat(1,minmax(100px,auto));
    grid-template-areas: 1/2/2/3;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    grid-area: cc;
}

/* Gallery inside Content */
.gallery {
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

/* For Gallery inside blogpost.html */
.blogGallery {
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
}
/* gboxes for articles inside gallery */
.gboxes {
    width: 40%;
    font-size: 0.8em;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.social {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
}

.social > h2 {
    text-align: center;
}

.social li {
    padding: 5px;
    margin: 5px;
}
/* Footer classes */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    border-radius: 5px;
    margin-right: auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .signature {
    padding: 2px 5px;
  }

  .copyright {
      margin-right: auto;
  }
/* To center Udacity's logo */
  .udacity {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
/* To remove dots in biography list */
  .noStyle {
      list-style-type: none;
      width: 80%;
  }